
.node {
    position: relative; /* Important for absolute positioning of lines and arrows */
    width: 280px;
    padding: 5px; 
    padding-top: 10px;
    background-color: #a658e6b9;
    color: black; /* Changed text color to black for better contrast on grey background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Slightly darker shadow for better definition */
    cursor: pointer;
    border: 2px solid #a658e6b9;
    pointer-events: auto; /* Re-enable pointer events so nodes are interactive */
    text-align: center; /* Center text within nodes */
    user-select: none; /* Prevent text selection during drag */
    font-size: 16px;
}

.child {
    background-color: #d3d3d383; /* Slightly lighter grey for child nodes */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    width: 45vw;
    height: 25vw;
    overflow-y: auto;

}

#flowchart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #f0f0f0; /* Light grey background for container */
    padding: 30px; /* Add padding inside the container */
    border: 2px dashed #bebebe; /* Optional: dashed border to visually define container */
    border-radius: 10px; /* Optional: rounded corners for container */
    width: 95%; /* Make container wider, adjust as needed (e.g., use px or other units) */
    height: 82vh;
    margin-bottom: 1em;
}

.line {
    position: absolute;
    height: 2px;
    background-color: #5c5c5c;
    z-index: 0; /* Behind nodes */
}


.dynamic-line {
    stroke-dasharray: 5 5; /* Make the dynamic line dashed */
    stroke: orange;         /* Change color to orange to distinguish it */
}
.line {
    pointer-events: none;

}
.start-dot, .end-dot {
    pointer-events: auto;
}
.hide {
    display: none;
}